@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
	line-height: 1.7;
	scroll-behavior: smooth;
}

body {
	font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
